body, p, li {
  font-size: 16px; }

a {
  text-decoration: underline; }

.footer-colophon a {
  text-decoration: none; }

table.email-footer.one-off-email-footer {
  background-color: #3d5265; }

.mb16 {
  margin-bottom: 16px; }

.mb32 {
  margin-bottom: 32px; }

.mb45 {
  margin-bottom: 45px; }

/* Buttons */
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden; }

table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: auto !important;
  text-align: center;
  text-transform: uppercase;
  background: #007aff;
  border: 1px solid #007aff;
  color: #ffffff;
  padding: 15px 0;
  line-height: initial !important; }

table.tiny-button td {
  padding: 5px 0; }

table.small-button td {
  padding: 8px 0; }

table.medium-button td {
  padding: 12px 0; }

table.large-button td {
  padding: 21px 0; }

table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  display: block;
  height: 100%;
  width: 100%; }

table.tiny-button td a {
  font-size: 12px;
  font-weight: normal; }

table.small-button td a {
  font-size: 16px; }

table.medium-button td a {
  font-size: 20px; }

table.large-button td a {
  font-size: 24px; }

table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #007aff !important; }

table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: #7ccbea !important; }

table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #7ccbea !important;
  border-color: #7ccbea; }

table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: #ffffff !important; }
